<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consent Guard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="home-page">
    <header>
        <div class="banner">
            <img src="images\logo.png" alt="Logo" class="logo">
            <div class="title">SANJEEVINI</div>
        </div>
    </header>

    <main>
        <div class="nav-container">

            <div class="nav-box">
                <a href="about.html">Add Patient</a>
            </div>
            <div class="nav-box">
                <a href="consent-form.html">Get Patient Information</a>
            </div>
            <div class="nav-box">
                <a href="revoke-consent-form.html">Check Doctor Availability</a>
            </div>
            <div class="nav-box">
                <a href="contact.html">Get Test Result</a>
            </div>
            <div class="nav-box">
                <a href="contact.html">Blood Bank</a>
            </div>
            <div class="nav-box">
                <a href="contact.html">Get Prescription</a>
            </div>
        </div>
    </main>

    <footer>
        &copy; 2024 Consent Guard. All rights reserved.
    </footer>
</body>
</html>
